<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="static/styles/about.css">
</head>
<body>
    <h1>О нашем сервисе!</h1>
    <p>Наш сервис создан, чтобы удобно и надежно хранить ваши пароли. И абсолютно бесплатно!
    Мы используем алгоритм AES для шифрования ваших пароль. Это быстро, эффективно, гибко, долговечно!</p>
    <div class="contact">Email: maxsavikin@gmail.com</div>
    <form method="post">
        <button type="submit" name="register" value="register">Зарегистрироваться</button>
        <button type="submit" name="login" value="login">Авторизация</button>

    </form>

</body>
</html>