<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles/API.css" />
    <title>API</title>
  </head>
  <body>
    <div class="container">
      <h1>Документация по API</h1>
      <h3 class="api-key"><b>Ваш API ключ: </b><code>{{ api_key }}</code></h3>

      <h2>Конечные точки</h2>
      <ul>
        <li>
          <strong>GET /api/v1/passwords/{api_key}</strong>
          <p>
            Возвращает все пароли, связанные с пользователем, используя его
            API-ключ.
          </p>
          <ul>
            <li>Ответ: JSON-объект, содержащий пароли пользователя.</li>
            <li>Ошибка: 404 - Пользователь не найден</li>
            <li>Ошибка: 500 - Ошибка доступа к базе данных</li>
          </ul>
        </li>
        <br />
        <li>
          <strong>GET /api/v1/username/{api_key}</strong>
          <p>
            Возвращает имя пользователя, связанное с пользователем, используя
            его API-ключ.
          </p>
          <ul>
            <li>Ответ: JSON-объект, содержащий имя пользователя.</li>
            <li>Ошибка: 404 - Пользователь не найден</li>
            <li>Ошибка: 500 - Ошибка доступа к базе данных</li>
          </ul>
        </li>
        <br />
        <li>
          <strong>POST /api/v1/passwords/add/{api_key}</strong>
          <p>
            Добавляет новый пароль для пользователя, используя его API-ключ.
          </p>
          <ul>
            <li>Запрос: JSON-объект, содержащий имя сайта и пароль.</li>
            <li>Ответ: JSON-объект с сообщением об успехе.</li>
            <li>Ошибка: 404 - Пользователь не найден</li>
            <li>Ошибка: 500 - Ошибка доступа к базе данных</li>
          </ul>
        </li>
      </ul>

      <h2>Аутентификация</h2>
      <p>
        Аутентификация API осуществляется с использованием API-ключей. Каждому
        пользователю назначается уникальный API-ключ, который используется для
        аутентификации запросов.
      </p>

      <h2>Обработка ошибок</h2>
      <p>
        Ошибки возвращаются с использованием кодов состояния HTTP и
        JSON-объекта, содержащего сообщение об ошибке.
      </p>
      <a href="{{ url_for('your_passwords') }}"
        ><button>Вернуться назад</button></a
      >
    </div>
  </body>
</html>
