<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Генератор паролей</title>
    <link rel="stylesheet" href="static/styles/password_generator.css">
    <script src="static/scripts/alerts.js" defer></script>
</head>
<body>
    <h2>Мы создадим надежный пароль на основе ваших выборов</h2>

    <form method="post" onsubmit="validateCheckboxes(event)">

        <label for="name">Название сайта</label><input type="text" name="name" id="name" required><br>

        <label for="length">Длинна пароля</label> <input type="number" name="length" id="length" min="1" value="5" required><br>

        <input type="checkbox" id="kiril_up" name="kiril_up" value="kiril_up">
        <label for="kiril_up">Кириллица в верхнем регистре</label><br>

        <input type="checkbox" id="kiril_low" name="kiril_low" value="kiril_low">
        <label for="kiril_low">Кириллица в нижнем регистре</label><br>

        <input type="checkbox" id="latin_up" name="latin_up" value="latin_up">
        <label for="latin_up">Латиница в верхнем регистре</label><br>

        <input type="checkbox" id="latin_low" name="latin_low" value="latin_low">
        <label for="latin_low">Латиница в нижнем регистре</label><br>

        <input type="checkbox" id="digits" name="digits" value="digits">
        <label for="digits">Числа</label><br>

        <input type="checkbox" id="special" name="special" value="special">
        <label for="special">Специальные символы</label><br><br>

        <button type="submit" name="create" value="create">Создать</button>

    </form>

    <form method="post">
        <button type="submit" name="back" value="back">Ваши пароли</button>

    </form>

    {% if flag %}
        <script>showPasswordCreatedAlert()</script>
    {% endif %}


</body>
</html>