<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ввод вашего пароля</title>
    <link rel="stylesheet" href="static/styles/your_password_input.css">
    <script src="static/scripts/alerts.js" defer></script>
</head>
<body>
    <div class="input">
    <form method="post" onsubmit="savedPasswordAlert()">
        <p>Имя сайта</p>
        <input type="text" name="name" required>
        <p>Пароль</p>
        <input type="password" name="password" required><br>
        <button type="submit" name="create">Сохранить!</button>
    </form>
    </div>
    <form method="post">
        <button type="submit" name="back">Ваши пароли</button>
    </form>

</body>
</html>