<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/styles/your_passwords.css" />
    <title>Мои пароли</title>
  </head>
  <body>
    <div class="container">
      {% if message %}
      <h2>{{ message }}</h2>
      {% else %}
      <h2>Вот ваши пароли:</h2>
      {% for password in passwords %}

      <div class="password-item"><br />{{password}}</div>

      {% endfor %} {% endif %}
      <div class="button-container">
        <form method="post">
          <button type="submit" name="create">Создать пароль</button>
          <button type="submit" name="input">Ввести ваш пароль</button>
        </form>
        <a href="{{ url_for('api') }}"><button>Наш API</button></a>
      </div>
    </div>
  </body>
</html>
